<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/pythonic.css') }}">
	<title>Pythonic</title>

</head>
	
<body>
	<section id="wrap">

		<header>
			<nav>
				<div id="test">Yo.</div>
			</nav>
		</header>

		<section id="home">
			<!-- main pythonic page -->
		</section>

		<section id="about">
			<!-- about stuff / how it works -->
		</section> <!-- close #about -->

		<section id="start">
			<!-- get started! actual app -->
		</section> <!-- close #start -->

		<footer>
			<!-- copyright stuff? -->
		</footer>

	</section> 	<!-- close #page -->

<!-- javascript includes -->


</body>




</html>