<!DOCTYPE html>
<html lang="en">
<head>
	<!-- css includes -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/lib/jquery.fullPage.css') }}">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/lib/reset.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/pythonic.css') }}">
	
	<title>Pythonic</title>

</head>
	
<body> 
	<nav>
		<ul id="menu">
			<li data-menuanchor="home" class="active"><a href="#home">Pythonic</a></li>
			<li data-menuanchor="about"><a href="#about">About</a></li>
			<li data-menuanchor="start"><a href="#start">Get Started</a></li>
		</ul>
	</nav>

	<section id="fullpage">
		<section class="section" id="home-section">
			<div class="intro">
				<h1>Pythonic</h1>
				<p>Coding in the "one and only way".</p>
			</div>
		</section>
		<section class="section" id="about-section">
			<div class="intro">
				<h1>What will this do for me?</h1>
				<p>
					Check if your coding style is "pythonic".
				</p>
			</div>
		</section>
		<section class="section" id="start-section">
			<div class="intro">
				<h1>Check it out! </h1>
			</div>
		</section>

	</section>

	<!-- javascript includes for fullpage.js -->
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.slimscroll.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.fullPage.js') }}"></script>


	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				menu: '#menu',
				anchors: ['home', 'about', 'start'],
				sectionsColor: ['#f6f1e9', '#e9eef6', '#f6f1e9'],
				autoScrolling: false
			});
		});

	</script> 

</body>
</html>