<!DOCTYPE html>
<html lang="en">
<head>
	<!-- css includes -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/lib/jquery.fullPage.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/lib/codeflask.css') }} ">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/lib/prism.min.css') }} ">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/examples.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/pythonic.css') }}">
	
	<title>Pythonic</title>

	<style>
	    .codeview {
	        width:200px;
	        height:200px;
	        border:1px solid #ccc;
	        background:#f5f5f5;
	        position:relative;
	    }
    </style>

</head>
	
<body> 
	<nav>
		<ul id="menu">
			<li data-menuanchor="home" class="active"><a href="#home">Pythonic</a></li>
			<li data-menuanchor="about"><a href="#about">About</a></li>
			<li data-menuanchor="start"><a href="#start">Get Started</a></li>
		</ul>
	</nav>

	<section id="fullpage">
		<section class="section" id="home-section">
			<div class="intro">
				<h1>Pythonic</h1>
				<p>Coding in the "one and only way".</p>
			</div>
		</section>
		<section class="section" id="about-section">
			<div class="intro">
				<h1>What will this do for me?</h1>
				<p>
					Check if your coding style is "pythonic".
				</p>
			</div>
		</section>
		<section class="section" id="start-section">
			<div class="intro">
				<h1>Check it out! </h1>
			</div>

			<div class="codeview language-python" id="code-wrapper" data-language="python"></div>

		</section>
	</section>

	<!-- javascript includes for fullpage.js -->
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.slimscroll.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.fullPage.js') }}"></script>

	<!-- javascript for codeflask / prism js --> 
	<script type="text/javascript" src="{{ url_for('static', filename='js/lib/prism.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lib/prism-python.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lib/codeflask.js') }}"></script> 

	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				menu: '#menu',
				anchors: ['home', 'about', 'start'],
				sectionsColor: ['#f6f1e9', '#e9eef6', '#f6f1e9'],
				autoScrolling: false
			});
		});

		var flask = new CodeFlask;
	    flask.run('#code-wrapper', {
            language: 'py'
        });	

	    flask.onUpdate(function(code){
            console.log(code);
        });

	</script> 

</body>
</html>